
body
{ 
text-align: center;
background-color: rgba(255, 192, 203, 0.697);
list-style-position: inside;

}

h1
{
    color: rgba(207, 37, 241, 0.855);
}

h2
{
    color: rgb(236, 28, 108);
}

h3
{
    color: rgb(255, 107, 48);
}

.a
{
margin-right: 15px;
}


span
{
    border: 2px solid red;
    background-color: red;
    border-radius: 10px;
}